@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root{
  --first-color: #C8B6E2;
  --second-color: #FEFBF6;
  --third-color: #fff;
  --fourth-color: #ccc;
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.container{
  background: var(--first-color);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app_wrapper{
  background-color: var(--second-color);
  min-width: 450px;
  min-height: 650px;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 3px 6px 40px #000;
  margin-bottom: 10px;
}

.header h1{
  color: black;
  text-align: center;
  margin: 30px 0;
}

.task-input{
  outline: none;
  width: 260px;
  padding: 15px;
  margin-right: 25px;
  font-size: 20px;
  color: var(--third-color);
  background-color: #000;
  border: #c89666;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.button-add{
  width: 70px;
  padding: 15px 15px;
  font-size: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border: 0;
  background-color: var(--first-color);
  cursor: pointer;
}

.list-item{
  display: flex;
  margin: 10px 0;
  border: 1px solid var(--fourth-color);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 15px;
  max-height: 30px;
}

.button-complete, .button-delete, .button-edit{
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 25px;
  margin-left: 5px;
  margin-right: 10px;
}

.button-complete{
  color: #ff6c6c;
  margin-right: 10px;
}

.button-edit{
  color: #e2d029;
  margin-right: 10px;
}

.button-delete{
  color: lightseagreen;
}

.complete{
  text-decoration-style: solid;
  -moz-text-decoration-style: solid;
  text-decoration-line: line-through;
  -moz-text-decoration-line: line-through;
  text-decoration-color: #ff6c6c;
  -moz-text-decoration-color: #ff6c6c;
  opacity: 0.6;
}

.list{
  width: 220px;
  background-color: var(--second-color);
  border: none;
  color: black  ;
  font-size: 20px;
  padding-left: 10px;
  margin-right: 15px;
}

input:focus,
button:focus{
  outline: none;
}